.site-nav {
	&> ul {
		list-style-type: none;
		padding: 0;
		@include clearfix;
		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			a {
				padding: 0 .5em;
			}
		}
	}
	&.collapse {
		display: none;
	}
	&.dark-nav {
		background: $text;
		margin-top: -1em;
		padding: 1em 0 .5em;
		a {
			color: white;
		}
	}
}

.toggle-nav {
	display: block;
	position: absolute;
	top: 10px;
	right: 1em;
	height: 1.9em;
	width: 20px;
	span {
		display: block;
		// Shh, don't tell, but box-shadows create the menu icon :)
	    -webkit-box-shadow: 0 10px 0 1px $links,
	                        0 16px 0 1px $links,
	                        0 22px 0 1px $links;
	
	    box-shadow:         0 10px 0 1px $links,
	                        0 16px 0 1px $links,
	                        0 22px 0 1px $links;
	}
    &:hover {
    	cursor: pointer;
    }
    &.active {
    	span {
    		display: block;
    		// Shh, don't tell, but box-shadows create the menu icon :)
    	    -webkit-box-shadow: 0 10px 0 1px white,
    	                        0 16px 0 1px white,
    	                        0 22px 0 1px white;
    	
    	    box-shadow:         0 10px 0 1px white,
    	                        0 16px 0 1px white,
    	                        0 22px 0 1px white;
    	}
    }
}